body {
    font-family: Geneva, Arial, sans-serif; 
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
    box-sizing: border-box; 
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px; 
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 20px; 
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
.our-app-button {
    background-color: #CBCBCB;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


.logo img {
    width: auto; 
    height: 80px;
}

header nav ul li a {
    font-size: 1.2em; 
}

.plan-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.plan-box {
    background-color: #363636;
    color: white;
    padding: 70px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin: 10px;
}
.plan-box h2 {
    margin-bottom: 10px;
    font-size: 1.9em;
}
.plan-box p {
    margin-bottom: 15px;
    font-size: 1.5em;
}
.plan-box ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
}
.plan-box ul li {
    margin-bottom: 5px;
}.language-switcher {
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
}