body {
    font-family: Geneva, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white; /* Ensure text is readable */
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00bcd4;
}

.language-switcher {
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.language-switcher:hover {
    background-color: white;
    color: #333;
}

.background-section {
    background-image: url('../images/fondo1.jpg'); /* Ruta relativa al archivo CSS */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.background-section .content {
    max-width: 500px;
    text-align: left;
}

.background-section h2 {
    font-size: 2.9em;
    margin-bottom: 20px;
}

.background-section p {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.background-section .btn {
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.background-section .btn:hover {
    background-color: #00bcd4;
    transform: scale(1.05);
}